@font-face {
    font-family: 'Julius Sans';
    src: url('../fonts/Julius Sans.woff2');
}

#navMain {
    font-family: 'Rancho';
    font-size: 130%;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(7, 199, 119, 0.774);
    background-color: black;
}

#navMain .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: white;
    border: 1px solid rgb(7, 199, 119);
}

#navMain .navbar-brand {
    font-weight: 700;
}

#navMain a {
    color: white;
}

#navMain .navbar-nav .nav-item:active,
#navMain .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #navMain {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
        background: transparent;
    }
    #navMain.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(7, 199, 119, 0.774);
        background-color: rgba(230, 130, 16, 0.973);
    }
    #navMain .nav-link.active {
        outline: none;
        background-color: rgba(26, 25, 24, 0.699);
    }
    #navMain .nav-link.active:hover {
        color: white;
    }
}

.heading {
    text-align: center;
    color: white;
    background-image: url("../img/background.jpg");
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 22em;
    padding-bottom: 22em;
}

.heading h1 {
    font-family: 'Rochester', serif;
    font-size: 1000%;
    font-style: bold;
}

.heading p {
    font-family: 'Rancho', sans-serif;
    font-size: 200%;
}

.about {
    padding-top: 5em;
    padding-bottom: 3em;
    text-align: center;
    font-family: "Julius Sans", sans-serif;
}

.about h3,
.description h3 {
    font-family: 'Rancho';
}

a.btn {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: solid 1px rgba(230, 130, 16, 0.973);
    color: rgb(0, 93, 233);
}

a:hover.btn {
    background-color: #d36c0c;
    color: white;
}

#play-now {
    background-color: rgba(128, 128, 128, 0.089);
    padding-top: 5em;
    padding-bottom: 3em;
}

.description a {
    color: rgb(0, 93, 233);
}

.description h2 {
    text-align: center;
    font-family: "Julius Sans", sans-serif;
}